<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">....</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Главная</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="#">Авторизация</a></li>
      <li><a href="#">Регистрация</a></li>
    </ul>
  </div>
</nav>
<%= form_with(model: [ @quiz, @question ], local: true) do |form| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :'Вопрос' %><br>
    <%= form.text_field :question %>
  </p>

  <p>
    <%= form.submit 'Сохранить вопрос',
                    :class => 'btn btn-success'%>
  </p>
<% end %>