<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">....</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Главная</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="#">Авторизация</a></li>
      <li><a href="#">Регистрация</a></li>
    </ul>
  </div>
</nav>
<%= form_with(model: @quiz, local: true)  do |form| %>

  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:
      </h2>
      <ul>
        <% @quiz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :'Название' %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :'Описание' %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit 'Сохранить тест',
                    :class => 'btn btn-success'%>
  </p>
<% end %>