<div class="jumbotron py-4 px-4">
  <h1 class="display-4">Тесты</h1>
  <p class="lead">На данной странице представлены все доступные тесты.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Создать тест', new_quiz_path, class: 'btn btn-primary', data: { modal: true } %>
  </p>
</div>

<div class="container-fluid">
  <div class="row d-none d-md-flex">
    <div class="col-md-3">
      <h5>Название теста</h5>
    </div>
    <div class="col grow">
      <h5>Описание теста</h5>
    </div>
  </div>

  <% @quizzes.each do |quiz| %>
    <div class="row mb-2 align-items-center">
      <div class="col-md-3">
        <h6><%= quiz.title %></h6>
      </div>
      <div class="col grow">
        <%= quiz.description %>
      </div>
      <div class="col-md-auto shrink">
        <div class="btn-group mt-2 mb-4 my-md-0">
          <%= link_to 'Вопросы',
                      {
                          :controller => 'questions',
                          :action => 'index' ,
                          :quiz_id => quiz.id
                      },
                      { :class => 'btn btn-primary' } %>
          <%= link_to 'Изменить',
                      edit_quiz_path(quiz),
                      class: 'btn btn-success',
                      data: { modal: true } %>
          <%= link_to 'Удалить',
                      quiz_path(quiz),
                      class: 'btn btn-danger',
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>