<% content_for :page_title do %>
  <%= t('views.welcome.page_title') %>
<% end %>

<div class="jumbotron">
  <h1 class="display-4"><%= t('views.welcome.jumbo_title') %></h1>
  <p class="lead"><%= t('views.welcome.jumbo_description') %></p>
  <hr class="my-4">
  <p><%= t('views.welcome.jumbo_unauthorized_message') %></p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">
      <%= t('views.welcome.sign_in_button') %>
    </a>
    <a class="btn btn-primary btn-lg" href="#" role="button">
      <%= t('views.welcome.sign_up_button') %>
    </a>
  </p>
</div>