<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <ul class="nav navbar-nav">
      <li><a href="#">Главная</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
        <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
        <%= link_to 'Редактировать профиль', edit_user_registration_path %>

        <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </ul>
  </div>
</nav>
<% content_for :page_title do %>
  <%= t('views.welcome.page_title') %>
<% end %>

<div class="jumbotron">
  <h1 class="display-4"><%= t('views.welcome.jumbo_title') %></h1>
  <p class="lead"><%= t('views.welcome.jumbo_description') %></p>
  <hr class="my-4">
  <p><%= t('views.welcome.jumbo_unauthorized_message') %></p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">
      <%= t('views.welcome.sign_in_button') %>
    </a>
    <a class="btn btn-primary btn-lg" href="#" role="button">
      <%= t('views.welcome.sign_up_button') %>
    </a>
  </p>
</div>