<% content_for :page_title do %>
  <%= t('views.welcome.page_title') %>
<% end %>

<div class="jumbotron">
  <h1 class="display-4"><%= t('views.welcome.jumbo_title') %></h1>
  <p class="lead"><%= t('views.welcome.jumbo_description') %></p>
  <hr class="my-4">

  <% if user_signed_in? %>
    <div>
      <p><%= t('views.welcome.jumbo_authorized_message', user_name: current_user.name) %></p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">
          <%= t('views.welcome.quizzes_button') %>
        </a>
      </p>
    </div>
  <% else %>
    <div>
      <p><%= t('views.welcome.jumbo_unauthorized_message') %></p>
      <p class="lead">
        <%= link_to t('views.welcome.sign_in_button'),
                    new_user_session_path,
                    { :class => 'btn btn-success btn-lg' } %>
        <%= link_to t('views.welcome.sign_up_button'),
                    new_user_registration_path,
                    { :class => 'btn btn-primary btn-lg' } %>
      </p>
    </div>
  <% end %>
</div>