
<%= form_with(model: [ @quiz, @question, @answer ], local: true) do |form| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:
      </h3>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :'Ответ' %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :'Является верным?' %><br>
    <%= form.check_box :right %>
  </p>

  <p>
    <%= form.submit 'Сохранить вопрос',
                    :class => 'btn btn-success'%>
  </p>
<% end %>