<h1>Тест "<%= @quiz.title %>"</h1>
<h2>Вопрос "<%= @question.question %>"</h2>

<table>
  <tr>
    <th>Вариант ответа</th>
    <th>Является верным?</th>
    <th></th>
  </tr>

  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.title %></td>
      <td>
        <strong>
          <% if answer.right  %>
            Да
          <% else %>
            Нет
          <% end %>
        </strong>
      </td>
      <td>
        <div class="btn-group">
          <%= link_to 'Открыть',
                      quiz_question_answer_path(@quiz, @question, answer),
                      class: 'btn btn-success' %>
          <%= link_to 'Изменить',
                      edit_quiz_question_answer_path(@quiz, @question, answer),
                      class: 'btn btn-success' %>
          <%= link_to 'Удалить',
                      quiz_question_answer_path(@quiz, @question, answer),
                      class: 'btn btn-danger',
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

</br>
<%= link_to 'Вернуться к списку вопросов',
            quiz_questions_path,
            class: 'btn btn-default'%>
<%= link_to 'Добавить ответ',
            new_quiz_question_answer_path,
            class: 'btn btn-success'%>