<% content_for :page_title do %>
  QuizPerforms#index
<% end %>

<nav>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <%= link_to t('views.page_navbar.home_link'), root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to t('views.page_navbar.quizzes_link'), quizzes_path %>
    </li>
    <li class="breadcrumb-item active"><%= truncate(@quiz.title, length: 20) %></li>
  </ol>
</nav>

<div class="jumbotron pb-4 pt-2 px-4 mt-0">
  <h1 class="display-4"><%= @quiz.title %></h1>
  <p class="lead"><%= @quiz.description %></p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Выполнить тест',
                new_quiz_perform_path,
                class: 'btn btn-primary' %>
  </p>
</div>

<% if @performs.any? %>
  <% @performs.each do |perform| %>
    ID = <%= perform.id %><br>
    QuizID = <%= perform.quiz_id %><br>
  <% end %>
<% else %>
  <div class="alert alert-info my-3 mx-3" role="alert">
    Вы еще ни разу не выполнили этот тест.
  </div>
<% end %>