<% content_for :page_title do %>
  QuizPerforms#index
<% end %>

<nav>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <%= link_to t('views.page_navbar.home_link'), root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to t('views.page_navbar.quizzes_link'), quizzes_path %>
    </li>
    <li class="breadcrumb-item active"><%= truncate(@quiz.title, length: 20) %></li>
  </ol>
</nav>

<div class="jumbotron pb-4 pt-2 px-4 mt-0">
  <h1 class="display-4"><%= @quiz.title %></h1>
  <p class="lead"><%= @quiz.description %></p>

  <% if @quiz_successful %>
    <h4><span class="badge badge-success">Тест пройден успешно</span></h4>
  <% else %>
    <h4><span class="badge badge-danger">Тест не пройден</span></h4>
    <hr class="my-4">
    <p class="lead">
      <%= link_to 'Выполнить тест',
                  new_quiz_perform_path,
                  class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>

<% if @view_data[:current_user].any? %>
  <% unless @view_data[:other_users].nil? %>
    <h5 class="ml-4">Ваши попытки</h5>
  <% end %>

  <table class="table table-hover table-sm">
    <thead class="thead-light">
    <tr>
      <th class="w-50">Дата попытки</th>
      <th class="w-25">Результат</th>
      <th class="w-25">Действия</th>
    </tr>
    </thead>

    <tbody>

    <% @view_data[:current_user].each do |data_item| %>
      <tr>
        <td class="w-50">
          <%= l(data_item[:perform].created_at.localtime, format: :long) %>
        </td>
        <td class="w-25">
          <% if data_item[:success] %>
            <span class="badge badge-success">Верно</span>
          <% else %>
            <span class="badge badge-danger">Неверно</span>
          <% end %>
        </td>
        <td class="w-25">
          <%= link_to 'Подробнее',
                      show_quiz_perform_path({quiz_id: @quiz.id, perform_id: data_item[:perform].id}),
                      class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
<% else %>
  <div class="alert alert-info my-3 mx-3" role="alert">
    Вы еще ни разу не выполнили этот тест.
  </div>
<% end %>

<% unless @view_data[:other_users].nil? %>
  <% if @view_data[:other_users].any? %>
    <% @view_data[:other_users].each_value do |user_performs| %>
      <h5 class="ml-4 mt-4">
        <%= user_performs[:user].name %>
        <% if user_performs[:success] %>
          <span class="badge badge-success">Тест пройден успешно</span>
        <% else %>
          <span class="badge badge-danger">Тест не пройден</span>
        <% end %>
      </h5>

      <table class="table table-hover table-sm">
        <thead class="thead-light">
        <tr>
          <th class="w-25">Дата попытки</th>
          <th class="w-25">Результат</th>
          <th class="w-25">Действия</th>
        </tr>
        </thead>

        <tbody>

        <% user_performs[:performs].each do |perform| %>
          <tr>
            <td class="w-50">
              <%= l(perform[:perform].created_at.localtime, format: :long) %>
            </td>
            <td class="w-25">
              <% if perform[:success] %>
                <span class="badge badge-success">Верно</span>
              <% else %>
                <span class="badge badge-danger">Неверно</span>
              <% end %>
            </td>
            <td class="w-25">
              <%= link_to 'Подробнее',
                          show_quiz_perform_path({quiz_id: @quiz.id, perform_id: perform[:perform].id}),
                          class: 'btn btn-primary btn-sm' %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    <% end %>


  <% else %>
    <div class="alert alert-warning my-3 mx-3" role="alert">
      Другие пользователи еще не выполняли этот тест.
    </div>
  <% end %>
<% end %>